.card-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
  margin-left: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70em;
  background-color: #283234;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 50em;
  margin: 10px;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 1px;
  background-color: #1f4147;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.card-header {
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #ffdfb9;
}

.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-icon {
  cursor: pointer;
  padding: 4px;
}

.card-body {
  font-size: 1em;
  text-align: left;
  background-color: #283234;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 3px;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1100px) {
  .card-container {
    width: 90%;
  }
  .card {
    width: 30em;
  }
}

@media screen and (max-width: 640px) {
  .card-container {
    background-color: #282c34;
    box-shadow: none;
  }
  .card {
    width: 18em;
  }
}
